* {
 font-size: 100%;
 font-family: 'Open Sans', sans-serif;
 color: white;
 background-color: #B11C54;
}
h1{
	margin:0;
    font-size: 18em;
	font-weight: 700;
    text-align: center;
}
h2{
    margin:0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}